@media ($mobile-width) {

  .section {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}


@media ($tablet-width) {

  .section {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}


@media ($desktop-width) {

  .section {
    padding-top: 115px;
    padding-bottom: 120px;
  }
}
