@mixin clearfix() {
  &::after,
  &::before {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }
}

@mixin fluid-container() {
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

