.advantages__list {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  @include fluid-container();

  &::after {
    content: '';
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #eeeeee;
  }
}



@media ($mobile-width) {
  .advantages__list {
    justify-content: center;

    &::after {
      bottom: -20px;
    }
  }
}

@media ($tablet-width) {
  .advantages__list {
    justify-content: space-between;

    &::after {
      bottom: -40px;
    }
  }
}

@media ($desktop-width) {
  .advantages__list {
    justify-content: space-between;

    &::after {
      bottom: -120px;
    }
  }
}
