.advantages__list {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //padding-top: 93px;
  //padding-bottom: 88px;

  @include fluid-container();

  &::after {
    content: '';
    position: absolute;
    bottom: -120px;

    width: 100%;
    height: 2px;

    background-color: #eeeeee;
  }
}
