.appeal__wrapper {
  @include fluid-container();
}


@media ($mobile-width) {

  .appeal {
    position: relative;
    padding-top: 230px;

    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 200px;

      background-image: url('../img/iphone-only.jpg');
      background-repeat: no-repeat;
      background-size: auto 200px;
      background-position-x: center;
    }
  }
}

@media ($tablet-width) {

  .appeal {
    position: relative;
    padding-left: 362px;

    &::before {
      content: '';
      position: absolute;
      top: 40px;
      left: 20px;
      z-index: -1;

      width: 362px;
      height: 469px;

      background-image: url('../img/iphone-only.jpg');
      background-repeat: no-repeat;
      background-size: 1206px 469px;
      background-position-x: -389px;
    }
  }

}


@media ($desktop-width) {
  .appeal {
    padding-bottom: 164px;
  }

  .appeal__wrapper {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      z-index: -2;

      width: 1206px;
      height: 570px;
      margin-left: -390px;

      background-image: url('../img/shadow-only.jpg');
      background-repeat: no-repeat;

      transition: left $transition-time $transition-function;
      will-change: left;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 1206px;
      height: 469px;
      margin-left: -390px;

      background-image: url('../img/iphone-only.jpg');
      background-repeat: no-repeat;

      transition: top $transition-time $transition-function;
      will-change: top;
    }
  }

  .appeal__wrapper:hover {

    &::before {
      left: -15px;
    }

    &::after {
      top: -20px;
    }
  }

  .appeal__content {
    width: 555px;
    margin-left: 585px;
    padding-top: 51px;
  }

  .text--appeal {
    margin-bottom: 69px;
  }
}
