.download {
  padding-top: 111px;
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
}

.download__wrapper {
  @include fluid-container;
}

.download__title {
  color: #ffffff;
}

.download__list {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

@media ($mobile-width) {

  .download {
    padding-top: 30px;
  }

  .download__list {
    flex-direction: column;
    margin-top: 20px;
  }

}

@media ($tablet-width) {
  .download__list {
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
  }
}
