@media ($mobile-width) {
  .prices__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
}

@media ($desktop-width) {
  .prices__wrapper {
    @include fluid-container();
  }

  .prices__list {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
  }
}
