.reviews__wrapper {
  @include fluid-container()
}

.reviews__gallery {
  position: relative;
}

.reviews-toggle {
  position: absolute;
}

.reviews__list {
  display: flex;
  margin-top: 75px;
  justify-content: space-between;
}

@media ($mobile-width) {
  .reviews__list {
    flex-direction: column;
    margin-top: 0;
  }
}
