@media ($mobile-width) {
  .start-home {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -20px;

      width: calc(100% + 40px);
      height: 255px;

      background-image: url('../img/iPhones.png');
      background-repeat: no-repeat;
      background-position-x: right;
      background-size: auto 255px;
    }
  }

  .start-home__wrapper {
    padding-top: 270px;
  }

  .start-home__title {
    margin: 0;
    margin-bottom: 22px;

    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    font-family: $title-font;
    text-align: center;
    color: $text-white-color;
  }

  .button--start-home {
    margin: 20px;
    width: calc(100% - 40px);
    border-color: #ffffff;
  }
}

@media ($tablet-width) {
  .start-home {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -40px;

      width: calc(100% + 80px);
      height: 255px;

      background-image: url('../img/iPhones.png');
      background-repeat: no-repeat;
      background-position-x: right;
      background-size: auto 255px;
    }
  }

  .start-home__wrapper {


    //width: calc(100% - 340px);
  }

  .start-home__title {
    width: calc(100% - 340px);
    box-sizing: border-box;
    min-height: 255px;

    padding-top: 30px;
    margin: 0;
    padding-bottom: 20px;

    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    font-family: $title-font;
    text-align: center;
    color: $text-white-color;
  }

  .button--start-home {
    border-color: #ffffff;
  }
}

@media ($desktop-width) {
  .start-home {
    position: relative;
    z-index: 3;

    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 214px;
  }

  .start-home__wrapper {
    width: 500px;
    margin-top: 134px;
  }

  //.start-home__images {
  //  min-width: 457px;
  //  min-height: 570px;
  //  background-color: #777777;
  //  opacity: 0.5;
  //}

  .start-home__title {
    margin: 0;
    margin-bottom: 22px;

    font-weight: 600;
    font-size: 54px;
    line-height: 60px;
    font-family: $title-font;
    color: $text-white-color;
  }

  .text-list--start-home {
    margin-bottom: 24px;
  }
}

//.start-home__images {
//  position: absolute;
//  left: 653px;
//  right: 0;
//  height: 628px;
//  background-image: url("../img/iPhones.png");
//  background-repeat: no-repeat;
//}
