.start-home {
  z-index: 3;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 214px;
}

.start-home__wrapper {
  margin-top: 134px;
  width: 500px;
}

//.start-home__images {
//  min-width: 457px;
//  min-height: 570px;
//  background-color: #777777;
//  opacity: 0.5;
//}

.start-home__title {
  margin: 0;
  margin-bottom: 22px;

  font-family: $title-font;
  font-weight: 600;
  font-size: 54px;
  line-height: 60px;
  color: $text-white-color;
}

.text-list--start-home {
  margin-bottom: 24px;
}

//.start-home__images {
//  position: absolute;
//  left: 653px;
//  right: 0;
//  height: 628px;
//  background-image: url("../img/iPhones.png");
//  background-repeat: no-repeat;
//}
